<div class="container">
  <div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">About
          <small>Movie Finder</small>
      </h1>
      <p>Movie Finder is made using <strong>Angular 4</strong>. This app helps the user to:</p>
      <p>1. Search for his/her favourite movies.</p>
      <p>2. Allows the user to get respective movie details.</p>
      <p>3. Gives the user info about popular movies of all time.</p>
      <p>4. Shows ongoing movies in theater for the current month.</p>
      <p>This app uses themoviedb.org REST API to fetch the movie details.</p>
  </div>
</div>
</div>